*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/wrapper/.tmp/
/gradle/wrapper/caches/
/gradle/wrapper/daemon/
/gradle/wrapper/jdks/
/gradle/wrapper/kotlin-profile/
/gradle/wrapper/native/
/gradle/wrapper/wrapper/
